[submodule "ContextPred"]
	path = ContextPred
	url = git@github.com:thomasly/ContextPred.git
[submodule "chemreader"]
	path = chemreader
	url = git@github.com:thomasly/chemreader.git
[submodule "SubGNN"]
	path = SubGNN
	url = git@github.com:thomasly/SubGNN.git
[submodule "contextSub"]
	path = contextSub
	url = git@github.com:thomasly/contextSub.git
